# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Jupyter / Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# Dataset (IMPORTANT)
# ===============================
dataset/
data/
*.avi
*.mp4

# ===============================
# Model files (keep only final model if you want)
# ===============================
models/*.pkl
models/*.pt
models/*.h5

# BUT keep this predictor file (remove ignore if needed)
!models/shape_predictor_68_face_landmarks.dat

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Temporary files
# ===============================
*.tmp
*.temp

# ===============================
# Build / cache
# ===============================
build/
dist/
*.egg-info/
